.sam-main{
	padding:10px 20px 20px;
}


.sam-aside-container {	
	&.aside-opened {
		.sam-aside {
			display: block;
			min-width:275px;
			padding:20px 15px;
		}
	}
	
	.sam-aside {
		display: none;
	}

	display: flex;
} 
.sam-aside fieldset.usa-fieldset-inputs {
	padding: 0px;
	margin: 20px 0;
}



sam-action-bar{
	display: flex;
	justify-content: space-between;
}